#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/************************* BASE (L0) **************************
╭─────┬─────┬─────┬─────┬─────╮ ╭─────┬─────┬─────┬─────┬─────╮
│ ' " │ , < │ . > │ p P │ y Y │ │ f F │ g G │ c C │ r R │ l L │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│ a A │ o O │ e E │ u U │ i I │ │ d D │ h H │ t T │ n N │ s S │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│ ; : │ q Q │ j J │ k K │ x X │ │ b B │ m M │ w W │ v V │ z Z │
│ SHF │ CTL │ GUI │ ALT │     │ │     │ ALT │ GUI │ CTL │ SHF │
╰─────┴─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┴─────╯
            │BSPC │ RET │ ESC │ │ SYM │SPACE│ TAB │
            │     │     │ NAV │ │ SYM │     │     │
            ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯

************************** NUM (L1) ***************************
╭─────┬─────┬─────┬─────┬─────╮ ╭─────┬─────┬─────┬─────┬─────╮
│     │RCTL │MENU │     │     │ │ ( < │ 7 & │ 8 * │  9  │ ) > │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│  `  │  ~  │  \  │  |  │  /  │ │ [ { │ 4 $ │ 5 % │ 6 ^ │ ] } │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│     │     │     │     │  ?  │ │ - _ │ 1 ! │ 2 @ │ 3 # │ = + │
│ SHF │ CTL │ GUI │ ALT │     │ │     │     │     │     │     │
╰─────┴─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┴─────╯
            │     │ FN  │ NAV │ │ @@@ │     │     │
            │     │ FN  │ NAV │ │     │     │     │
            ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯

************************** FN  (L2) ***************************
╭─────┬─────┬─────┬─────┬─────╮ ╭─────┬─────┬─────┬─────┬─────╮
│     │BRDN │BRUP │     │     │ │PSCRN│F7 BP│F8 BN│F9   │ F12 │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│MUTE │ VDN │ VUP │     │     │ │ INS │F4 B4│F5 B5│F6 BC│ F11 │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│     │     │     │     │ STG │ │ DEL │F1 B1│F2 B2│F3 B3│ F10 │
│ SHF │ CTL │ GUI │ ALT │     │ │     │     │     │     │     │
╰─────┴─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┴─────╯
            │RESET│ @@@ │BOOTL│ │ @@@ │BOOTL│RESET│ ↑ GUI for
            │     │     │     │ │     │     │     │ B* (BT)
            ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯

************************** NAV (L3) ***************************
╭─────┬─────┬─────┬─────┬─────╮ ╭─────┬─────┬─────┬─────┬─────╮
│LG(1)│LG(2)│LG(3)│LG(4)│LG(5)│ │LG(6)│LG(7)│LG(8)│LG(9)│LG(0)│
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│     │     │     │     │     │ │LEFT │DOWN │ UP  │RIGHT│     │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│     │     │     │     │     │ │HOME │PGDN │PGUP │ END │     │
│ SHF │ CTL │ GUI │ ALT │     │ │     │     │     │     │     │
╰─────┴─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┴─────╯
            │     │     │     │ │     │     │     │
            │     │     │     │ │     │     │     │
            ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯

************************** STN (L4) ***************************
╭─────┬─────┬─────┬─────┬─────╮ ╭─────┬─────┬─────┬─────┬─────╮
│ @@@ │  #  │  t  │  p  │  h  │ │  f  │  p  │  l  │  t  │  d  │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│ @@@ │  s  │  k  │  w  │  r  │ │  r  │  b  │  g  │  s  │  z  │
│     │     │     │     │     │ │     │     │     │     │     │
├─────┼─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┼─────┤
│ @@@ │ @@@ │  *  │  *  │  *  │ │  *  │  *  │  *  │ @@@ │ @@@ │
│     │     │     │     │     │ │     │     │     │     │     │
╰─────┴─────┼─────┼─────┼─────┤ ├─────┼─────┼─────┼─────┴─────╯
            │  a  │  o  │ LV0 │ │  *  │  e  │  u  │
            │     │     │     │ │     │     │     │
            ╰─────┴─────┴─────╯ ╰─────┴─────┴─────╯          */

#define LKEYS  1  2  3  4  5  13 14 15 16 17  25 26 27 28 29  36 37 38
#define RKEYS  6  7  8  9 10  18 19 20 21 22  30 31 32 33 34  39 40 41

#define BASE  0
#define NUM   1
#define FN    2
#define NAV   3
#define STENO 4

#define HL(k1,k2,k3,k4) &hml LSHFT k1  &hml LCTRL k2  &hml LGUI k3  &hml LALT k4
#define HR(k1,k2,k3,k4) &hmr LALT k1  &hmr LGUI k2  &hmr LCTRL k3  &hmr LSHFT k4

#define MT(layer) &mo_tog layer layer

/ {
  behaviors {
    mtog: behavior_mo_tog {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <200>;
      bindings = <&mo>, <&tog>;
    };

    hml: home_row_mod_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      require-prior-idle-ms = <50>;
      tapping-term-ms = <170>;
      quick-tap-ms = <100>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <RKEYS>;
      hold-trigger-on-release;
    };
    hmr: home_row_mod_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      require-prior-idle-ms = <50>;
      tapping-term-ms = <170>;
      quick-tap-ms = <100>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <LKEYS>;
      hold-trigger-on-release;
    };

};

  };
  keymap {
    compatible = "zmk,keymap";

    BASE {
      display-name = "base";
      bindings = <
        &none     &kp APOS  &kp COMMA &kp DOT   &kp P     &kp Y       &kp F     &kp G     &kp C     &kp R     &kp L     &none
        &none     &kp A     &kp O     &kp E     &kp U     &kp I       &kp D     &kp H     &kp T     &kp N     &kp S     &none
        &none     HL( SEMI  ,   Q     ,   J     ,   K )   &kp X       &kp B     HR( M     ,   W     ,   V     ,   Z )   &none
                                      &kp BSPC  &kp RET   &mt NAV ESC MT(NUM)   &kp SPACE &kp TAB
      >;
    };

    NUM {
      display-name = "num"; // TODO: add <> for shifted ()
      bindings = <
        &none     &none     &kp RCTRL &kp K_APP &none     &none       &kp LPAR  &kp N7    &kp N8    &kp N9    &kp RPAR  &none
        &none     &kp GRAVE &kp TILDE &kp BSLH  &kp PIPE  &kp FSLH    &kp LBKT  &kp N4    &kp N5    &kp N6    &kp RBKT  &none
        &none     &kp LSHFT &kp LCTRL &kp LGUI  &kp LALT  &none       &kp MINUS &kp N1    &kp N2    &kp N3    &kp EQUAL &none
                                      &trans    MT(FN)    MT(NAV)     &none     &kp N0    &trans
      >;
    };

    FN {
      display-name = "fn"; // TODO: add BT1-BT5,BTC,BTP,BTN for LGUI+F1-F5,LGUI+F6,LGUI+F7,LGUI+F8
      bindings = <
        &none    &none &kp C_BRI_DN &kp C_BRI_UP &none    &none       &kp PSCRN &kp F7    &kp F8    &kp F9    &kp F12   &none
        &none &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none  &none       &kp INS   &kp F4    &kp F5    &kp F6    &kp F11   &none
        &none     &kp LSHFT &kp LCTRL &kp LGUI  &kp LALT  &to STG     &kp DEL   &kp F1    &kp F2    &kp F3    &kp F10   &none
                                     &sys_reset &none &bootloader     &none &bootloader &sys_reset
      >;
    };

    NAV {
      display-name = "nav";
      bindings = <
        &none     &kp LG(1) &kp LG(2) &kp LG(3) &kp LG(4) &kp LG(5)   &kp LG(6) &kp LG(7) &kp LG(8) &kp LG(9) &kp LG(0) &none
        &none     &none     &none     &none     &none     &none       &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &none     &none
        &none     &kp LSHFT &kp LCTRL &kp LGUI  &kp LALT  &none       &kp HOME  &kp PGDN  &kp PGUP  &kp END   &none     &none
                                      &none     &none     &none       &none     &none     &none 
      >;
    };

    STN {
      display-name = "stn";
      bindings = <
        &none     &none     &kp HASH  &kp T     &kp P     &kp H       &kp F       &kp P     &kp L     &kp T   &kp D     &none
        &none     &none     &kp S     &kp K     &kp W     &kp R       &kp R       &kp B     &kp G     &kp S   &kp Z     &none
        &none     &none     &none     &kp STAR  &kp STAR  &kp STAR    &kp STAR    &kp STAR  &kp STAR  &none   &none     &none
                                      &kp A     &kp O     &to BASE    &kp STAR    &kp E     &kp U
      >;
    };
  };
};

/* vim: set list tw=140: */
